[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alagitpull = "==0.0.22"
releases = "==1.6.1"
sphinx-argparse = "==0.2.5"
Sphinx = "==2.0.1"
isort = "==4.3.18"
flake8 = "==3.7.7"
pytest = "==4.4.1"
unihan-etl = {editable = true,path = "."}

[packages]
unicodecsv = "==0.14.1"
appdirs = "==1.4.3"
zhon = "==1.1.5"

[requires]
python_version = "3"
