[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alagitpull = "==0.0.21"
releases = "==1.6.1"
sphinx-argparse = "==0.2.2"
sphinxcontrib-napoleon = "==0.6.1"
Sphinx = "==1.7.6"
isort = "==4.3.4"
"flake8" = "==3.5.0"
vulture = "==0.28"
pytest = "==3.6.4"
unihan-etl = {path = ".", editable = true}

[packages]
unicodecsv = "==0.14.1"
appdirs = "==1.4.3"
zhon = "==1.1.5"

[requires]
python_version = "3.6"
