[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
alagitpull = "*"
sphinx-argparse = "*"
Sphinx = ">=2.0.0"
isort = "*"
flake8 = "*"
pytest = "*"
unihan-etl = {path = ".",editable = true}
sphinx-issues = "*"
black = "==19.3b0"
pytest-cov = "*"

[packages]
unicodecsv = "*"
appdirs = "*"
zhon = "*"

[requires]
python_version = "3"
